################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/bin
/**/obj
/**/*.csproj.user
/**/*.sln.suo
/**/_NCrunch_Server
/**/TestResults
/**/*.DotSettings.user
/**/*.ncrunchsolution.user
/**/Packages
*.user
/**/node_modules
/**/jspm_packages
/**/compiled-js
/**/compiled-app
/**/compiled-views
/**/publish
/**/*.suo
/**/*.tmp
/**/nCrunchTemp_*.csproj

# Enterprise Architect temp file
*.ldb

# NCrunch temp data
*.ncrunchproject

# NPM debug log
npm-debug.log

# Visual Studio user data
*.vssettings

# Rider files
**/tempkey.rsa
Source/.idea
*.lnk
DocFxHelper/~$WorkAssignment.xlsx
Server/.sonarqube/
/Source/.sonarqube/
/Tools/Doxygen/docs/html
/Source/*.log
/.artifacts
# TypeScript compiler cache
/**/.awcache
Source/OperationCount.md

#Fody
/Source/**/FodyWeavers.xsd
/Source/Private.props*

#Specflow
/Source/**/*.feature.cs

#Visual Studio Profiler
*.psess
*.vspx

#Compiled Init data 
/Source/TestDataSets/**/_*
